Package: com.mtac.cleancydiatabs
Name: CleanCydiaTabs
Depends: mobilesubstrate
Version: 0.0.1
Architecture: iphoneos-arm
Description: Clean up Cydia's TabBar for iPhone X
Maintainer: MTAC
Author: MTAC
Section: Tweaks
